/* Yleiset tyylit */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Pehmeä tausta */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Ylätunnisteen tyyli */
header {
    background-color: #444;
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #228B22;
}

header h1 {
    font-size: 2.8rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #ddd;
}

/* Pääsisältö */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

/* Nappien tyyli - Nurmikon vihreät */
button {
    padding: 1rem 2.5rem;
    background-color: #228B22;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover {
    background-color: #32CD32;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Kentän tiedot - Tyyli */
#field-details {
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
    text-align: left;
    line-height: 1.8;
}

#field-details h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid #228B22;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

#details {
    font-size: 1.2rem;
}

/* Alatunniste */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsiivisuus */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    button {
        padding: 0.8rem 1.8rem;
        font-size: 1rem;
    }

    #field-details {
        width: 90%;
    }
}
